@reference "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --fg: #f4f7be;
  --fg-dark: #b5b789;
  --bg: #1e000e;
}

@layer base {
  html,
  body {
    @apply -z-100 overflow-x-hidden relative;
    width: 100%;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
    background-color: var(--bg);
    color: var(--fg-dark);
  }
  strong {
    color: var(--fg);
    font-style: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr {
    color: var(--fg);
  }

  hr {
    margin-block: 1em;
  }

  li::before {
    font-family: "primeicons";
    content: "\e932";
    padding-inline: 0.5em;
  }

  a {
    @apply underline;
  }
  a:hover {
    color: var(--fg);
  }

  @media only screen and (min-width: 1024px) {
    main {
      @apply text-2xl;
      padding-block: 2rem;
      padding-inline: 6rem;
    }

    footer {
      @apply text-2xl;
      padding-block: 1rem;
      padding-inline: 6rem;
    }

    p {
      @apply mt-5;
    }

    h1 {
      @apply text-6xl;
    }

    h2 {
      @apply text-5xl mt-10;
    }

    h3 {
      @apply text-4xl mt-5;
    }
    h4 {
      @apply text-3xl mt-5;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 640px) {
    main {
      @apply text-2xl;
      padding-block: 2rem;
      padding-inline: 6rem;
    }

    footer {
      @apply text-2xl;
      padding-block: 1rem;
      padding-inline: 6rem;
    }

    p {
      @apply mt-5;
    }

    h1 {
      @apply text-6xl;
    }

    h2 {
      @apply text-5xl mt-10;
    }

    h3 {
      @apply text-4xl mt-5;
    }
    h4 {
      @apply text-3xl mt-5;
    }
  }

  @media only screen and (max-width: 640px) {
    main {
      @apply text-xl;
      padding-block: 2rem;
      padding-inline: 2rem;
    }

    footer {
      @apply text-xl;
      padding-block: 1rem;
      padding-inline: 6rem;
    }

    p {
      @apply mt-2;
    }

    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl mt-5;
    }

    h3 {
      @apply text-2xl mt-2;
    }
    h4 {
      @apply text-xl mt-2;
    }
  }
}
